[submodule "dsp/starch"]
	path = dsp/starch
	url = https://github.com/flightaware/starch.git
	branch = cmake-and-rework
[submodule "firmware"]
	path = firmware
	url = git@github.flightaware.com:flightaware/pg2sdr-firmware.git
