[submodule "lpcsdr_firmware"]
	path = firmware
	url = git@github.flightaware.com:flightaware/lpcsdr_firmware.git
[submodule "dsp/starch"]
	path = dsp/starch
	url = https://github.com/flightaware/starch.git
	branch = cmake-and-rework
